<div class="container">
  <h1>Stupid coaching</h1>
  <div class="container_one">
    <p class="color"></p>
      <div class="text">
        <p><%= @question %></p>
        <p>- You</p>
      </div>
  </div>
  <div class="container_two">
    <p class="color"></p>
    <div class="text">
      <p><%= @answer %></p>
      <p>- Your coach</p>
    </div>
  </div>
</div>

<p>ask a new question</p>
